@model Parnian.Models.ResetPasswordViewModel

@{ ViewBag.Title = "بازنشانی رمز"; }

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h2>بازنشانی رمز</h2>
    <p class="alert alert-info">
        رمز انتخابی باید حداقل ۶ حرفی باشد و در آن از حروف بزرگ
        (مانند A)،
        حروف کوچک
        (مانند a)،
        اعداد
        (مانند 1)
        و کاراکتری غیر از عدد و حرف
        (مانند !)
        استفاده شده باشد.
    </p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    @*<p class="text-danger">@Html.ValidationMessageFor(m => m.Username)</p>
        <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
        <p class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>*@
    @Html.AntiForgeryToken()
    <div class="input-list-group">
        <div class="input-group" title="نام کاربری">
            @Html.LabelFor(m => m.Username, new { @class = "sr-only" })
            <span class="input-group-addon" id="user"><span class="glyphicon glyphicon-user"></span></span>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control rtl-placeholder", placeholder = "نام کاربری", aria_describedby = "user", dir = "ltr" })
        </div>
        <div class="input-group" title="رمز جدید">
            @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
            <span class="input-group-addon" id="pass"><span class="glyphicon glyphicon-lock"></span></span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control rtl-placeholder", placeholder = "رمز جدید", aria_describedby = "pass", dir = "ltr" })
        </div>
        <div class="input-group" title="تایید رمز">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
            <span class="input-group-addon" id="pass-conf"><span class="glyphicon glyphicon-ok"></span></span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control rtl-placeholder", placeholder = "تایید رمز جدید", aria_describedby = "pass-conf", dir = "ltr" })
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px;">تایید</button>
}
@section scripts{
    <script src="~/Content/jquery@2.1.4/jquery.min.js"></script>
    <script src="~/Content/jquery.validate@1.14.0/jquery.validate.min.js"></script>
    <script src="~/Content/jquery.validate.unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}