@model IEnumerable<Parnian.Models.Category>
@{
    Layout = "~/Views/Shared/_ModelIndexLayout.cshtml";
    ViewBag.Title = "دسته‌ها";
    ViewBag.hasImage = true;
    ViewBag.Sidebar_Location = "categories";
    ViewBag.Controller = "Category";
    ViewBag.Root_Directory = "/App_Files/Categories/";
    ViewBag.Object_Name = "دسته";
    var sortkey = ViewBag.sortkey;
}

@section thead {
    <th>نوع داده</th>
}

@foreach (var item in Model)
{
    <tr>
        <td>
            <input type="checkbox" class="group-action" data-id="@item.id" />
        </td>
        <td class="handle" data-id="@item.id">@item.priority</td>
        @if ((Boolean)ViewBag.hasImage)
        {
        <td class="thumbnail-holder">
            <img src="@Url.Action("Thumbnail", "FileManager", new { area = "Kaveh", path = item.imageName, width = 36 })" alt="@item.title" />
            @*<img src="@Url.Action("Thumbnail", "FileManager", new { area = "Kaveh", path = ViewBag.Root_Directory + item.imageName, width = 36 })" alt="@item.title" />*@
        </td>
        }
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.title).ToString(), "Edit", new { id = item.id }, new { title = "ویرایش" })
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHidden)
        </td>
    </tr>
}